name: Tests
on: push
jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 'v14.21.3'
      - name: Deps
        run: npm install
      - name: Start server
        run: npm run dev
      - name: Unit tests
        run: npm run test
      - name: E2E tests
        run: npx playwright test